extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de nosotros")
            .col-md-7
                h1= pagina
                blockquote  Fusce dictum est eget mauris fermentum, at porta sapien aliquam. Duis venenatis, augue eu fringilla porttitor, massa nunc semper arcu, a porttitor massa turpis ut magna. Pellentesque laoreet nulla in aliquam euismod. Vestibulum mollis volutpat sodales.
                p Quisque tortor velit, sodales sit amet convallis sit amet, imperdiet vitae massa. Vivamus rhoncus, justo molestie pulvinar iaculis, nunc erat fringilla enim, eu condimentum eros magna ac orci. Nulla sed euismod nunc. Donec vitae pellentesque tellus. Sed mattis scelerisque tincidunt. Aenean egestas vel tortor eget imperdiet. Nam a efficitur felis. Maecenas neque odio, condimentum id blandit vitae, tristique et turpis.
                p Cras ac diam blandit, maximus sem sit amet, iaculis mi. Pellentesque condimentum eget tortor sit amet sollicitudin. Aenean aliquam leo ac malesuada gravida.
    .listado-iconos
        .container.mt-5.py-5.text-center
         .row
            .col-md-4
                img.img-fluid(src="img/icono_seguridad.svg")
                h2.mb-4 Seguridad
                p Vestibulum ut diam a nibh dictum porta. In in arcu congue leo molestie fermentum et eget quam.
            .col-md-4
                img.img-fluid(src="img/icono_destinos.svg")
                h2.mb-4 Mejores destinos
                p Vestibulum ut diam a nibh dictum porta. In in arcu congue leo molestie fermentum et eget quam.
            .col-md-4
                img.img-fluid(src="img/icono_precios.svg")
                h2.mb-4 Mejor precio
                p Vestibulum ut diam a nibh dictum porta. In in arcu congue leo molestie fermentum et eget quam.
                


    